<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="mb-auto">
        <app-nav-menu></app-nav-menu>
    </header>
    <main class="px-3">
        <div class="container-fluid">
            <!--No Angular, um router-outlet é uma diretiva que atua como um placeholder no template de um componente.
            Ele é usado para carregar dinamicamente diferentes componentes com base na rota de URL atual.
            O Router-outlet é uma parte crucial do sistema de roteamento do Angular,
            permitindo que você crie aplicativos de página única onde diferentes partes do aplicativo podem mudar
            sem recarregar a página inteira. -->
            <router-outlet></router-outlet>
        </div>
    </main>
    <footer class="mt-auto text-white-50">
        <app-site-footer></app-site-footer>
    </footer>
</div>
